<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Socio-log</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">

  <body data-bs-theme="dark">

    
    <section id="title">

      <nav class="navbar navbar-expand-xl" style="background-color: #606C5D;">
        <div class="container">
          <a class="navbar-brand" href="/main">SOCIO-LOG</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
              <!-- 6 -->
              <li class="nav-item" id="home"><a class="nav-link active" href="/main">HOME</a></li>
              <li class="nav-item" id="about"><a class="nav-link active" href="/about">ABOUT US</a></li>
              <li class="nav-item" id="contact"><a class="nav-link active" href="/contact">CONTACT US</a></li>
              <li class="nav-item" id="compose"><a class="nav-link active"  href="/compose">POST NEW</a></li>
            </ul>

            <div style="display: flex;">
              <form class="d-flex" role="search" action="/search" method="post">
                <input class="form-control me-2" name="searchinput" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
                <button class="btn btn-outline-success searchButton" type="submit">Search</button>
              </form>
              <form class="d-flex" action="/logout" method="get" style="margin-left: 20px;">
                <button class="btn btn-outline-warning searchButton" type="submit">LogOut</button>
              </form>
              <form action="/userProfile" method="get">
                <button type="submit" style="background-color:#606C5D;border: none;"><i class="bi bi-person-square" style="color: rgb(255, 255, 255);margin-left:5px;"></i></button>
              </form>
            </div>
          </div>
        </div>
      </nav>

    </section>

    <section id="body">
      <div class="container">
