<%- include("partials/header"); -%>

<h1>Contact</h1>
<a href="https://telegram.me/+N0GRxJE6FBpmNTg9" class="bi bi-telegram contacts"></a>
<a href="" class="bi bi-linkedin contacts"></a>
<%- include("partials/footer"); -%>