.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} 
.navbar {
    color: #606C5D;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    margin-bottom: 50px;
    margin-left: 35px;
    /* height: 70px; */
    width: 95%;
    border-radius: 30px;
    font-size: 12px;
    letter-spacing: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.navbar-brand{
    color:#e3e3e3
}
ul{
    color: #dddddd;
}
.form-control:focus {
    border-color: #ebe8e8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.searchButton{
    border-color: azure;
    color: azure;
}

#body{
    min-height: calc(100vh - 6.7rem - 6.7rem);
}
.card:hover{
    box-shadow: 0 0 50px azure;
}
.footer-padding {
	padding-bottom: 20px;
}
.img-fluid{
    height: 100%;
}
.card{
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 1 1 200px rgba(0, 0, 0, 0.2);
}

.postimg{
    margin-bottom: 30px;
}
.postimg img{
    height: 25rem;
    border-radius: 20px;
}
.footer {
    padding-top: 2px;
    padding-bottom: 2px;
	text-align: center;
	width: 95%;
    margin-top: 40px;
    border-radius: 30px;
    margin-left: 35px;
	background-color: #606C5D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer p {
	margin-top: 15px;
	font-size: 12px;
    color: #fff;
}

.btn-circle {
    width: 10px;
    height: 10px;
    text-align: center;
    padding: 6px 0;
    font-size: 8px;
    line-height: 1.42;
    border-radius: 12px;
    background-color: rgb(70, 140, 219);
  }

.composebtn{
    margin-top: 15px;
}

.bi{
    font-size: 40px;
    margin-right: 20px;
}