html p {
    white-space: pre-line !important;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} 
.navbar {
    color: #606C5D;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    margin-bottom: 50px;
    margin-left: 2.4%;
    /* height: 70px; */
    width: 95%;
    border-radius: 30px;
    font-size: 12px;
    letter-spacing: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav  li a:hover {
    color: #f3c807 !important;
}
.navbar-brand{
    color:#fff;
}
ul{
    color: #dddddd;
}
.form-control:focus {
    border-color: #ebe8e8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.searchButton{
    border-color: azure;
    color: azure;
}
.bi-person-square::before {
    font-size: 36px;
    margin-left: 9px;
    content: "\f4de";
}

#body{
    min-height: calc(100vh - 6.7rem - 6.7rem);
}
.cardHome:hover{
    box-shadow: 0 0 20px azure;
    /* box-shadow: rgba(223, 215, 215, 0.25) 0px 54px 55px, rgba(219, 212, 212, 0.12) 0px -12px 30px, rgba(219, 212, 212, 0.12) 0px 4px 6px, rgba(228, 220, 220, 0.17) 0px 12px 13px, rgba(224, 216, 216, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(250, 248, 248, 0.17) 0px -23px 25px 0px inset, rgba(253, 253, 253, 0.15) 0px -36px 30px 0px inset, rgba(248, 247, 247, 0.1) 0px -79px 40px 0px inset, rgba(255, 254, 254, 0.06) 0px 2px 1px, rgba(253, 253, 253, 0.09) 0px 4px 2px, rgba(252, 251, 251, 0.09) 0px 8px 4px, rgba(253, 253, 253, 0.09) 0px 16px 8px, rgba(252, 250, 250, 0.09) 0px 32px 16px; */
}
.footer-padding {
	padding-bottom: 20px;
}
.img-fluid{
    height: 100%;
    width: 100%;
}
.cardHome{
    width: 100%;
    margin-bottom: 40px;
    border-color: #2c2424;
}
.profilecard{
    margin-bottom: 40px;
}
.profilecard:hover{
    box-shadow: 0 0 20px azure;
    /* box-shadow: rgba(223, 215, 215, 0.25) 0px 54px 55px, rgba(219, 212, 212, 0.12) 0px -12px 30px, rgba(219, 212, 212, 0.12) 0px 4px 6px, rgba(228, 220, 220, 0.17) 0px 12px 13px, rgba(224, 216, 216, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(250, 248, 248, 0.17) 0px -23px 25px 0px inset, rgba(253, 253, 253, 0.15) 0px -36px 30px 0px inset, rgba(248, 247, 247, 0.1) 0px -79px 40px 0px inset, rgba(255, 254, 254, 0.06) 0px 2px 1px, rgba(253, 253, 253, 0.09) 0px 4px 2px, rgba(252, 251, 251, 0.09) 0px 8px 4px, rgba(253, 253, 253, 0.09) 0px 16px 8px, rgba(252, 250, 250, 0.09) 0px 32px 16px; */
}

.cardLike{
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
}
.thumbup{
    height: 30px;
    margin-left: 15px;
    color: #e3e3e3;
    font-size: 25px;
}
.likedthumb{
    color: rgb(0, 183, 255);
}

.cardComment{
    width: 70%;
    display: inline-block;
    border-radius: 30px;
    /* margin-left: 25px; */
}
.commentBtn{
    margin-bottom: 18px;
    margin-left: 10px;
    text-decoration: none;
}
.card-body{
    padding-bottom: 0;
}
.commentForm{
    display: inline;
}
.dropdown{
    display: inline-block;
}

.postimg{
    margin-bottom: 30px;
}
.postimg img{
    height: 25rem;
    border-radius: 20px;
    width: 65%;
}
.footer {
    padding-top: 2px;
    padding-bottom: 2px;
	text-align: center;
	width: 95%;
    margin-top: 40px;
    border-radius: 30px;
    margin-left: 2.4%;
	background-color: #606C5D;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer p {
	margin-top: 15px;
	font-size: 12px;
    color: #fff;
}

.btn-circle {
    width: 10px;
    height: 10px;
    text-align: center;
    padding: 6px 0;
    font-size: 8px;
    line-height: 1.42;
    border-radius: 12px;
    background-color: rgb(70, 140, 219);
  }

.composebtn{
    margin-top: 15px;
}

.contacts{
    font-size: 40px;
    margin-right: 20px;
}
